nav {
  background-color: #282c34;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

nav li {
  font-size: 1.1rem;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s, border-bottom 0.3s;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

nav a:hover {
  color: #61dafb;
  border-bottom: 1px solid #61dafb;
}

.logo {
  height: 90px;
  width: 100px;
  max-height: 50px;
  object-fit: contain;
}
